.ratings {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 300;
  padding-top: 17px;
  justify-content: space-between;
  max-width: 594px;
}

.ratingsLeft {
  display: flex;
  order: 1;
  flex-direction: column;
  justify-content: space-around;
  min-width: 297px;
  letter-spacing: 0.6px;
}

.checkIn {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.pbCheckin{
  display: flex;
  flex-direction: row;
  padding-left: 81px;
}

.pbNum {
  padding-left: 8px;
  font-weight: 500;
}

.accuracy {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.pbAccuracy {
  display: flex;
  flex-direction: row;
  padding-left: 79px;
}

.cleanliness{
  display: flex;
  flex-direction: row;
}

.pbCleanliness{
  display: flex;
  flex-direction: row;
  padding-left: 66px;
}

.ratingsRight {
  display: flex;
  order: 2;
  flex-direction: column;
  min-width: 297px;
  letter-spacing: 0.6px;
}

.communication{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}

.descriptionR{
  margin-left: 33px;
}

.pbCommunication{
  display: flex;
  flex-direction: row;
}

.location{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}

.pbLocation{
  display: flex;
  flex-direction: row;
}

.value{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.pbValue{
  display: flex;
  flex-direction: row;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  margin-top: 7px;
  width: 92px;
  height: 4px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #008489;
  border-radius: 2px;
}

.mentionedWord {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.numberOfGuests {
  order: 1;
  font-weight: 200;
}

.wordSearched {
  order: 2;
  font-weight: 400;
  padding-left: 3px;
}

.backButton {
  order: 3;
  display: flex;
  justify-content: flex-end;
  padding-left: 200px;
}

.button {
  color: #008489;
  border: none;
  padding-right: 0px;
  font-size: 14px;
  font-weight: 200;
}