body{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */
  color: #484848;
  max-width: 594px;
}

#reviewContainer {
  padding-left: 0px;
  border-bottom: 1px solid #e4e3e3;
}

#listItem {
  list-style-type: none;
  margin: 0px;
  display: flex;
  border-bottom: 2px #484848;
}

#review {
  padding-left: 0px;
  font-size: 14px;
  padding-bottom: 25px;
  padding-top: 25px;
}

#guestImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#header{
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 6px;
}

#guestDetail {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#guestImageCont{
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

#guestName {
  font-size: 16px;
  font-weight: 440;
  line-height: 22px;
  color: #484848;
  padding-bottom: 4px;
}

#unorderedList {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

#guestDate {
  font-size: 14px;
  font-weight: 250;
  line-height: 14px;
  color: #484848;
}

#guestReview {
  color: #484848;
  font-size: 16px;
  font-weight: 250;
}

#reviewAreaTop {
  display: flex;
  flex-direction: row;

}

#starAndNumber {
  display: flex;
  flex-direction: row;
  order: 1;
  padding-top: 2px;
}

#star {
  color: #008489;
  fill: #008489;
  font-size: 13.6px;
  padding-top: 2px;
}

#number {
  font-size: 18px;
  font-weight: 640;
  padding-left: 3px;
}

#borderBar {
  order: 2;
  border-right: 1px solid #b4b4b4;
  padding-left: 15px;
  height: 10px;
}

#numberOfReviews {
  order: 3;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-top: 2px;
}

#reviewNum {
  font-weight: 640;
  padding-left: 12px;

}

#reviewName {
  padding-left: 5px;
  font-weight: 240;
}

#searchReviews {
  order: 4;
  /* display: flex; */
  align-self: flex-end;
  padding-left: 233px;
}

#searchBox {
  border-radius: 5px;

}

input:focus {
  outline: 1px solid #008489;
  border-radius: 5px
}

input {
  box-shadow: none;
  border-radius: 5px;
  /* outline: 1px solid #008489; */
  width: 180px;
  height: 25px;
}

#borderLine {
  border-bottom: 1px solid #e4e3e3;
  padding-top: 10px;
}

#ratings {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 300;
  padding-top: 16px;
  /* padding-bottom: 10px; */
  justify-content: space-between;
}

#ratingsLeft {
  display: flex;
  order: 1;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
}

#ratingsRight {
  display: flex;
  order: 2;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
}

progress[value]{
  -webkit-appearance: none;
  appearance: none;
  background-color: #008489;
  width: 92px;
  height: 4px;
}

#checkIn {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#pbCheckin{
  display: flex;
  flex-direction: row;
  padding-left: 81px;
}

#pbNum {
  padding-left: 8px;
}

#accuracy {
  display: flex;
  flex-direction: row;
}

#pbAccuracy {
  display: flex;
  flex-direction: row;
  padding-left: 79px;
}

#cleanliness{
  display: flex;
  flex-direction: row;
}

#pbCleanliness{
  display: flex;
  flex-direction: row;
  padding-left: 66px;
}

#communication{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#pbCommunication{
  display: flex;
  flex-direction: row;
}

#location{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#pbLocation{
  display: flex;
  flex-direction: row;
}

#value{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#pbValue{
  display: flex;
  flex-direction: row;
}